{{ 'upsell.css' | asset_url | stylesheet_tag }}
<div id="upsell-popup-root"></div>
<script src="{{ 'upsell.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Upsell popup",
  "target": "body"
}
{% endschema %}
