{{ 'upsell.css' | asset_url | stylesheet_tag }}
<div id="upsell-cart-bundle-root" class="upsell-cart-bundle-root" {{ block.shopify_attributes }}></div>
{{ 'upsell.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Upsell cart bundle (Tool B)",
  "target": "section",
  "templates": ["cart"]
}
{% endschema %}
